<!DOCTYPE html>
<html>

<head>
    <title>Parcel Sandbox</title>
    <meta charset="UTF-8">
</head>


<body
    style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';">
    <div class="container"
        style="display: flex;justify-content: center;max-width: 80rem;min-height: 100vh;padding: 2rem;margin: 0 auto;background-color: #f5f5f5;">
        <div class="content" style="background-color: white;border-radius: 5px;padding: 20px;">
            <div class="header-mail" style="display: flex;justify-content: space-between;">
                <div> IT Việc </div>
                <div> Ít nhưng mà chất</div>
            </div>
            <div class="divider-solid" style="margin: 15px 0;border-block-start: 1px solid rgba(5, 5, 5, 0.06);"> </div>
            <div class="body-mail">
                <div class="gretting" style="display: flex;gap: 10px;flex-direction: column;">
                    <div>Hi Hary Pham,</div>
                    <div> One of these jobs may be your next one. Find out today! </div>
                </div>
                <div class="divider-dashed" style="margin: 15px 0;border-block-start: 1px dashed rgba(5, 5, 5, 0.06);">
                </div>
                <div class="list-jobs" style="display: flex;flex-direction: column;">
                    <div class="single-job" style="display: flex;flex-direction: column;gap: 7px;font-size: 13px;">
                        <div class="title" style="font-size: 17px;"> <a href="#" target="_blank"
                                style="text-decoration: none;"> Web Developer (PHP, JavaScript) </a></div>
                        <div class="company"> VINAKET CO.LTD </div>
                        <div class="salary">
                            1,000 - 2,500 USD
                        </div>
                        <div class="skilss" style="display: flex;gap: 10px;flex-wrap: wrap;">
                            <span>PHP </span>
                            <span> JavaScript</span>
                            <span>English </span>
                        </div>
                        <div class="divider-dashed"
                            style="margin: 15px 0;border-block-start: 1px dashed rgba(5, 5, 5, 0.06);"> </div>
                    </div>

                    <div class="single-job" style="display: flex;flex-direction: column;gap: 7px;font-size: 13px;">
                        <div class="title" style="font-size: 17px;"> <a href="#" target="_blank"
                                style="text-decoration: none;"> Web Developer (PHP, JavaScript) </a></div>
                        <div class="company"> VINAKET CO.LTD </div>
                        <div class="salary">
                            1,000 - 2,500 USD
                        </div>
                        <div class="skilss" style="display: flex;gap: 10px;flex-wrap: wrap;">
                            <span>PHP </span>
                            <span> JavaScript</span>
                            <span>English </span>
                        </div>
                        <div class="divider-dashed"
                            style="margin: 15px 0;border-block-start: 1px dashed rgba(5, 5, 5, 0.06);"> </div>
                    </div>

                </div>
                <div class="footer-mail">
                    <a class="btn-view-more" href="#" target="_blank"
                        style="text-decoration: none;width: 100%;display: flex;align-items: center;justify-content: center;height: 40px;cursor: pointer;border-radius: 5px;background-color: #ea1e30;color: white;border: none;outline: none;">Xem
                        thêm job tại IT Việc</a>
                    <div class="bye" style="padding-top: 20px;display: flex;flex-direction: column;gap: 10px;">
                        <div> Cheers,</div>
                        <div> The ITviec Team </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>